# pycache
*pycache*

# ignoring models and compiled files 
common/lib/roi_pooling/C_ROIPooling.cpython-36m-x86_64-linux-gnu.so
common/lib/roi_pooling/build/
model/pretrained_model/bert-base-uncased/
model/pretrained_model/bert-large-uncased/
model/pretrained_model/resnet101-pt-vgbua-0000.model
model/pretrained_model/vl-bert-base-prec.model

# cache and output
cache/*
output/*

# swp files
*.swp
*.swo
*.swn

# wandb
wandb/*

#pyc files
*.pyc

# image files
*.png
